<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSMeteorologicoBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WSMeteorologicoBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.imn.ac.cr:443/PORTAL_IMN_WS/WSMeteorologicoSoap"
                binding="basicHttpBinding" bindingConfiguration="WSMeteorologicoBinding"
                contract="WSM.WSMeteorologico" name="WSMeteorologico" />
        </client>
    </system.serviceModel>
</configuration>